<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18F132</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Sublime-like Additions</string>
	<key>CFBundleExecutable</key>
	<string>SublimeLike Xcode Extensions</string>
	<key>CFBundleIdentifier</key>
	<string>com.jangelsb.sublimelike.xcext</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sublime-like Additions</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10E1001</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18E219</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1020</string>
	<key>DTXcodeBuild</key>
	<string>10E1001</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SublimeLike_Xcode_Extensions.DuplicateSelectionsCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>com.jangelsb.sublimelike.xcext.DuplicateSelectionsCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Duplicate Selection(s)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SublimeLike_Xcode_Extensions.UndoLastMultiCursorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>com.jangelsb.sublimelike.xcext.UndoLastMultiCursorCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Undo Last Multi Cursor</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SublimeLike_Xcode_Extensions.ToUpperCaseCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>com.jangelsb.sublimelike.xcext.ToUpperCaseCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Convert Selection(s) to UPPERCASE</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SublimeLike_Xcode_Extensions.ToLowerCaseCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>com.jangelsb.sublimelike.xcext.ToLowerCaseCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Convert Selection(s) to lowercase</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>SublimeLike_Xcode_Extensions.SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 jangelsb. All rights reserved.</string>
</dict>
</plist>
